# Build artifacts
bin/
build/
dist/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
coverage.out

# Dependency/build caches
.cache/
.cover/

# IDE/editor files
.vscode/
.idea/
*.swp
*.swo

# Environment files
.env
.env.*

# Logs & temp files
*.log
*.tmp

# Other repos
/docs/xai-sdk-python

# Local binaries
/basic
/function_calling
/streaming
/structured_outputs
/list
/main
